app-profile-card
  display: block

app-profile-card:not(:first-of-type)
  margin-top: 8px

app-responsive-width-container
  display: block
  margin-bottom: 32px

.settings
  display: block
  margin-bottom: 16px
