<app-responsive-width-container
  [class.layout-handset]="breakpoint.isHandset$ | async"
  [class.layout-tablet]="breakpoint.isTablet$ | async"
  [class.layout-web]="breakpoint.isWeb$ | async"
>
  <app-page-title-toolbar heading="Profiles" />
  <span class="settings">
    <mat-slide-toggle
      [checked]="displayXuids"
      (change)="onDisplayXuidsChange($event)"
    />
    Display XUIDs
  </span>
  @for (profile of profiles(); track $index) {
    <app-profile-card
      [profile]="profile"
      [displayXuid]="displayXuids"
      [profileImageUrl]="imageUrls()[$index]"
    />
  }
</app-responsive-width-container>
