/* 100 */
/* Roboto-Thin.ttf */
/* Roboto-ThinItalic.ttf */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* 300 */
/* Roboto-Light.ttf */
/* Roboto-LightItalic.ttf */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* 400 */
/* Roboto-Regular.ttf */
/* Roboto-Italic.ttf */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* 500 */
/* Roboto-Medium.ttf */
/* Roboto-MediumItalic.ttf */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* 700 */
/* Roboto-Bold.ttf */
/* Roboto-BoldItalic.ttf */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* 900 */
/* Roboto-BlackItalic.ttf */
/* Roboto-Black.ttf */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
