<div class="responsive-layout">
  <mat-toolbar>
    <button
      class="leading-icon"
      type="button"
      aria-label="Back"
      mat-icon-button
      (click)="onBackClick()"
    >
      <mat-icon
        aria-label="Side nav toggle icon"
        fontIcon="arrow_back"
      ></mat-icon>
    </button>
    <h1>{{ consoleConfigurationName }}</h1>
    <span class="toolbar-spacer"></span>
    <button
      mat-icon-button
      class="trailing-icon"
      aria-label="Reload Console Information"
      (click)="onReloadConsoleInformationClick()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <button
      mat-icon-button
      class="trailing-icon"
      aria-label="Update Console Configuration"
      (click)="openUpdateConsoleConfigurationDialog()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      class="trailing-icon"
      aria-label="Delete Console Configuration"
      (click)="openDeleteConsoleConfigurationDialog()"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-toolbar>
  <div class="content">
    @if (isLoading) {
      <mat-spinner></mat-spinner>
    } @else {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>System Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Motherboard: {{ system.console.motherboard }} ({{
              system.console.type
            }})
          </p>
          <p>
            Dashboard: {{ system.version.major }}.{{ system.version.minor }}.{{
              system.version.build
            }}.{{ system.version.qfe }} (SMC: {{ smc.smcversion }})
          </p>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Console IDs</mat-panel-title>
                <mat-panel-description
                  >Keep these secret and backed up!</mat-panel-description
                >
              </mat-expansion-panel-header>
              <mat-list role="list">
                <mat-list-item>
                  <div matListItemTitle>Console ID</div>
                  <div matListItemLine>{{ system.consoleid }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Serial Number</div>
                  <div matListItemLine>{{ system.serial }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>CPU Key</div>
                  <div matListItemLine>{{ system.cpukey }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>DVD Key</div>
                  <div matListItemLine>{{ system.dvdkey }}</div>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Plugin Information</mat-panel-title>
              </mat-expansion-panel-header>
              <h3>Version</h3>
              <p>
                {{ plugin.version.number.major }}.{{
                  plugin.version.number.minor
                }}.{{ plugin.version.number.type }} r{{
                  plugin.version.number.build
                }}
              </p>
              <h3>Paths</h3>
              <mat-list role="list">
                <mat-list-item>
                  <div matListItemTitle>Launcher</div>
                  <div matListItemLine>{{ plugin.path.launcher }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Root</div>
                  <div matListItemLine>{{ plugin.path.root }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>User</div>
                  <div matListItemLine>{{ plugin.path.user }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matListItemTitle>Web</div>
                  <div matListItemLine>{{ plugin.path.web }}</div>
                </mat-list-item>
              </mat-list>
              <h3>Features</h3>
              <mat-list role="list">
                <mat-list-item>
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.achievements)
                  }}</mat-icon>
                  <div matListItemTitle>Achievements</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.debugger)
                  }}</mat-icon>
                  <div matListItemTitle>Debugger</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.gamepad)
                  }}</mat-icon>
                  <div matListItemTitle>Gamepad</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.httpdaemon)
                  }}</mat-icon>
                  <div matListItemTitle>HTTP Daemon</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.multidisc)
                  }}</mat-icon>
                  <div matListItemTitle>Multidisc</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.network)
                  }}</mat-icon>
                  <div matListItemTitle>Network</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.systemlink)
                  }}</mat-icon>
                  <div matListItemTitle>Systemlink</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.threads)
                  }}</mat-icon>
                  <div matListItemTitle>Threads</div>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <mat-icon matListItemIcon>{{
                    getPluginFeatureIcon(plugin.features.trainers)
                  }}</mat-icon>
                  <div matListItemTitle>Trainers</div>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
      <!-- TODO improve appearance -->
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Real Time Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>AV Pack: {{ avpackText }}</p>
          <p>Tilt State: {{ tiltstateText }}</p>
          <p>Tray State: {{ traystateText }}</p>
          <p>Dvd Media: {{ dvdmediatypeText }}</p>
          <p>
            Memory: {{ bytesToMegaBytes(memory.used) | number: "1.1-1" }} /
            {{ bytesToMegaBytes(memory.total) | number: "1.0-0" }} MB ({{
              bytesToMegaBytes(memory.free) | number: "1.1-1"
            }}
            MB Free)
          </p>
          <p>Temperature</p>
          <div class="temperature-table-wrapper">
            <table mat-table [dataSource]="temperatureTableData">
              <!-- Component Column -->
              <ng-container matColumnDef="component">
                <th mat-header-cell *matHeaderCellDef>Component</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.component }}
                </td>
              </ng-container>
              <!-- Live Column -->
              <ng-container matColumnDef="live">
                <th mat-header-cell *matHeaderCellDef>Live</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.live }}
                </td>
              </ng-container>
              <!-- Target Column -->
              <ng-container matColumnDef="target">
                <th mat-header-cell *matHeaderCellDef>Target</th>
                <td mat-cell *matCellDef="let element">{{ element.target }}</td>
              </ng-container>
              <!-- Max Column -->
              <ng-container matColumnDef="max">
                <th mat-header-cell *matHeaderCellDef>Max</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.max }}
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedTemperaturesColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedTemperaturesColumns"
              ></tr>
            </table>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Threads</mat-panel-title>
              </mat-expansion-panel-header>
              <p>State: {{ threadStateText }}</p>
              <div class="button-row">
                <button mat-stroked-button (click)="onSuspendThreadClick()">
                  Suspend
                </button>
                <button mat-stroked-button (click)="onResumeThreadClick()">
                  Resume
                </button>
              </div>
              <table mat-table [dataSource]="threadsTableData">
                <!-- Address Column -->
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.address }}
                  </td>
                </ng-container>
                <!-- Flags Column -->
                <ng-container matColumnDef="flags">
                  <th mat-header-cell *matHeaderCellDef>Flags</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.flags }}
                  </td>
                </ng-container>
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>
                <!-- Priority Column -->
                <ng-container matColumnDef="priority">
                  <th mat-header-cell *matHeaderCellDef>Priority</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.priority }}
                  </td>
                </ng-container>
                <!-- State Column -->
                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef>State</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.state }}
                  </td>
                </ng-container>
                <!-- Type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef>Type</th>
                  <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedThreadsColumns"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedThreadsColumns"
                ></tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
