<mat-card appearance="outlined">
  <mat-card-header class="flex-row">
    <mat-card-title>{{ headerText }}</mat-card-title>
    <button
      aria-label="Delete asset"
      class="trailing-button"
      type="button"
      mat-icon-button
      [matTooltip]="deleteAssetTooltipText"
      (click)="onDeleteClick()"
      [disabled]="displayedAssetImageUrl == null"
    >
      <mat-icon aria-label="Delete asset" fontSet="material-icons-round">
        delete_forever
      </mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    @if (isLoadingImage) {
      <mat-spinner></mat-spinner>
    } @else if (hasError) {
      <mat-card appearance="outlined" class="error-card">
        <mat-card-content>
          <p class="error-text">Error loading asset image</p>
        </mat-card-content>
      </mat-card>
    } @else if (displayedAssetImageUrl) {
      <img [alt]="displayedAssetImageAltText" [src]="displayedAssetImageUrl" />
    } @else {
      <p class="center-text">No image available</p>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- file input cannot be styled, so hide it and use button in menu to interact with this input -->
    <input
      #fileInput
      mat-flat-button
      (change)="onUploadFileChange($event)"
      type="file"
      class="hidden"
    />
    @if (assetImageUrlNew == null) {
      <button mat-button [matMenuTriggerFor]="menu">New Image</button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="fileInput.click()">Local File</button>
        <button mat-menu-item (click)="onXboxCatalogCoversClick()">
          Xbox Catalog
        </button>
        <button mat-menu-item (click)="onXboxUnityCoversClick()">
          XboxUnity
        </button>
      </mat-menu>
    } @else {
      <button mat-button (click)="onCancelClick()" [disabled]="isLoadingImage">
        Cancel
      </button>
      <button mat-button (click)="onApplyClick()" [disabled]="isLoadingImage">
        Apply
      </button>
    }
  </mat-card-actions>
</mat-card>
