<app-page-toolbar heading="Home" [backButton]="false">
  @if (breakpoint.isHandset$ | async) {
    <button matIconButton aria-label="About" [routerLink]="['/', 'about']">
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
  } @else {
    <a matButton="outlined" aria-label="About" [routerLink]="['/', 'about']">
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
      About
    </a>
  }
</app-page-toolbar>
<app-responsive-width-container>
  <app-page-title-toolbar heading="Consoles">
    @if (breakpoint.isWeb$ | async) {
      <button
        matButton="filled"
        aria-label="Add console"
        class="app-trailing-button"
        (click)="onAddConsoleClick()"
      >
        <mat-icon fontSet="material-icons-round">add</mat-icon>
        Add Console
      </button>
    }
  </app-page-title-toolbar>
  @if (breakpoint.isHandset$ | async) {
    <button
      aria-label="Add console"
      class="add-console-fab"
      matFab
      (click)="onAddConsoleClick()"
    >
      <mat-icon fontSet="material-icons-round">add</mat-icon>
    </button>
  } @else if (breakpoint.isTablet$ | async) {
    <button
      aria-label="Add console"
      class="add-console-fab"
      matFab
      extended
      (click)="onAddConsoleClick()"
    >
      <mat-icon fontSet="material-icons-round">add</mat-icon>
      Add Console
    </button>
  }
  @for (errorMessage of errorMessages; track $index) {
    <app-notification-card
      error-card
      [message]="errorMessage"
      (dismissed)="onErrorDismissed($index)"
    />
  }
  @if (links.length == 0) {
    <p>Add a console and it will show up here.</p>
  } @else {
    <app-navigation-list
      ariaLabel="Select a game console"
      [chevron]="false"
      [links]="links"
    />
  }
</app-responsive-width-container>
