<mat-toolbar>
  <button
    mat-icon-button
    class="leading-button"
    aria-label="Toggle game list"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Game Library</span>
  <span class="toolbar-spacer"></span>
  @if (uiService.isHandset$ | async) {
    <button
      aria-label="Import Game Data"
      mat-icon-button
      (click)="onDownloadGameDataClick()"
    >
      <mat-icon fontSet="material-icons-round"> download </mat-icon>
    </button>
  } @else if (uiService.isTablet$ | async) {
    <button
      class="trailing-button"
      mat-flat-button
      (click)="onDownloadGameDataClick()"
    >
      <mat-icon aria-label="Download game data" fontSet="material-icons-round">
        download
      </mat-icon>
      Import Game Data
    </button>
  } @else {
    <button
      class="trailing-button"
      mat-flat-button
      (click)="onDownloadGameDataClick()"
    >
      <mat-icon aria-label="Download game data" fontSet="material-icons-round">
        download
      </mat-icon>
      Import Game Data
    </button>
  }
</mat-toolbar>
<mat-drawer-container
  [hasBackdrop]="!(uiService.isWeb$ | async)"
  [class.web]="uiService.isWeb$ | async"
>
  <mat-drawer #drawer [mode]="(uiService.isWeb$ | async) ? 'side' : 'over'">
    @if (gameList.length == 0) {
      <p class="centered-text">Import game data for games to show up here</p>
    }
    <mat-selection-list
      aria-label="Game Selection"
      hideSingleSelectionIndicator
      [multiple]="false"
      (selectionChange)="onGameSelectionChange($event)"
      [compareWith]="gameListCompareWith"
    >
      @for (entry of gameList; track entry.id) {
        <mat-list-option
          [selected]="isSelectedGameId(entry.id)"
          [value]="entry"
        >
          <div matListItemTitle>{{ entry.titleName }}</div>
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="muted-background-color">
    @if (selectedGameData) {
      <app-game-details-section
        [gameConsoleConfiguration]="gameConsoleConfiguration"
        [gameData]="selectedGameData"
      />
    } @else {
      <p class="centered">No game selected</p>
    }
  </mat-drawer-content>
</mat-drawer-container>
