@use '../../../../../variables'

mat-card:not(:first-of-type)
  margin-top: 16px

app-page-toolbar
  position: fixed
  top: 0
  width: 100%
  z-index: 1000

app-responsive-width-container
  display: block
  margin-bottom: 32px
  margin-top: calc(variables.$page-toolbar-height)

// app-responsive-width-container.font-small
//   mat-card-title
//     font: var(--mat-sys-title-small)
//   p
//     font: var(--mat-sys-body-small)
//   span.app-subtitle
//     font: var(--mat-sys-body-small)

// app-responsive-width-container.font-medium
//   mat-card-title
//     font: var(--mat-sys-title-medium)
//   p
//     font: var(--mat-sys-body-medium)
//   span.app-subtitle
//     font: var(--mat-sys-body-medium)

// app-responsive-width-container.font-large
//   mat-card-title
//     font: var(--mat-sys-title-large)
//   p
//     font: var(--mat-sys-body-large)
//   span.app-subtitle
//     font: var(--mat-sys-body-large)

.app-badge
  margin-bottom: 64px
  margin-top: 64px

.app-icon
  display: block
  height: 140px
  margin: auto
  margin-bottom: 8px
  width: 140px

.app-subtitle
  display: block
  text-align: center
