<app-page-toolbar heading="About" />
<app-responsive-width-container
  [class.font-small]="appSettings.isFontSizeSmall"
  [class.font-medium]="appSettings.isFontSizeMedium"
  [class.font-large]="appSettings.isFontSizeLarge"
>
  @for (errorMessage of errorMessages; track $index) {
    <app-notification-card
      error-card
      [message]="errorMessage"
      (dismissed)="onErrorDismissed($index)"
    />
  }
  <div class="app-badge">
    <img
      class="app-icon"
      alt="Australis Icon"
      src="/assets/icons/Square310x310Logo.png"
    />
    <span class="app-subtitle">{{ appName }}</span>
    <span class="app-subtitle">{{ appVersion }}</span>
  </div>
  <div class="button-row">
    <button matButton="outlined" (click)="openSourceCode()">
      <mat-icon
        aria-hidden="false"
        aria-label="Open external link to source code"
        fontIcon="open_in_new"
      />
      View Source Code
    </button>
    <button matButton="outlined" (click)="openGitHubIssues()">
      <mat-icon
        aria-hidden="false"
        aria-label="Open external link to GitHub issues"
        fontIcon="open_in_new"
      />
      View or Report Issues
    </button>
  </div>
  <mat-card class="info-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Storage Used</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="storage-used-card" appearance="outlined">
        <mat-list class="storage-used-table" role="list">
          <mat-list-item role="listitem">
            <span matListItemTitle>Data</span>
            <div matListItemMeta>{{ appDataSizeText }}</div>
          </mat-list-item>
          <mat-divider />
          <mat-list-item role="listitem">
            <span matListItemTitle>Cache</span>
            <div matListItemMeta>{{ appCacheSizeText }}</div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button matButton (click)="onClearCacheClick()">Clear Cache</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="info-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Licensed under GPLv3 or later</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Australis is a client for the Aurora Xbox 360 Dashboard.</p>
      <p>Copyright (C) 2025-2026 jrobiche</p>
      <p>
        This program is free software: you can redistribute it and/or modify it
        under the terms of the GNU General Public License as published by the
        Free Software Foundation, either version 3 of the License, or (at your
        option) any later version.
      </p>
      <p>
        This program is distributed in the hope that it will be useful, but
        WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
        Public License for more details.
      </p>
      <p>
        You should have received a copy of the GNU General Public License along
        with this program. If not, see &lt;https://www.gnu.org/licenses/&gt;.
      </p>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>GNU General Public License</mat-panel-title>
          </mat-expansion-panel-header>
          <pre class="gpl-text">{{ gplText }}</pre>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button matButton (click)="openGPL()">
        <mat-icon
          aria-hidden="false"
          aria-label="Open external link to GPL"
          fontIcon="open_in_new"
        />
        Latest GNU General Public License
      </button>
    </mat-card-actions>
  </mat-card>
</app-responsive-width-container>
