<section>
  <div
    class="page-content game-background"
    [style.background-image]="backgroundImageStyle"
  >
    <div
      class="content-wrapper"
      [class.handset]="breakpoint.isHandset$ | async"
      [class.tablet]="breakpoint.isTablet$ | async"
      [class.web]="breakpoint.isWeb$ | async"
    >
      <div class="title-wrapper">
        @if (assetIconUrl) {
          <img alt="Icon Asset Image" class="game-icon" [src]="assetIconUrl" />
        }
        <span class="game-title">{{ titleText }}</span>
      </div>
      <div class="button-row">
        <button
          mat-flat-button
          aria-label="Launch Game"
          (click)="onLaunchGameClick()"
        >
          <mat-icon aria-label="Launch game" fontSet="material-icons-round">
            play_arrow
          </mat-icon>
          Launch Game
        </button>
        <a
          mat-stroked-button
          aria-label="Edit Assets"
          [routerLink]="editGameAssetsRouterLink"
        >
          <mat-icon aria-label="Edit assets" fontSet="material-icons-round">
            edit
          </mat-icon>
          Edit Assets
        </a>
      </div>
      <app-game-card
        [gameConsoleConfiguration]="gameConsoleConfiguration"
        [gameData]="gameData"
      />
    </div>
  </div>
</section>
