<section [style.background-image]="backgroundImageStyle">
  <div class="content-wrapper">
    <mat-toolbar>
      @if (assetIconUrl) {
        <img alt="Icon image" class="game-icon" [src]="assetIconUrl" />
      }
      <span>{{ titleText }}</span>
    </mat-toolbar>
    <app-game-boxart-card
      [gameConsoleConfiguration]="gameConsoleConfiguration"
      [gameData]="gameData"
    />
    <mat-toolbar class="game-actions">
      <button
        mat-flat-button
        aria-label="Launch Game"
        (click)="onLaunchGameClick()"
      >
        <mat-icon aria-label="Launch game" fontSet="material-icons-round">
          play_arrow
        </mat-icon>
        Launch Game
      </button>
      <a
        mat-stroked-button
        aria-label="Edit Assets"
        [routerLink]="editGameAssetsRouterLink"
      >
        <mat-icon aria-label="Edit assets" fontSet="material-icons-round">
          edit
        </mat-icon>
        Edit Assets
      </a>
    </mat-toolbar>
    <app-game-details-card
      [gameConsoleConfiguration]="gameConsoleConfiguration"
      [gameData]="gameData"
    />
  </div>
</section>
