<div class="responsive-layout">
  <mat-toolbar>
    <h1>Consoles</h1>
  </mat-toolbar>
  <div class="button-row">
    <button mat-stroked-button (click)="openCreateConsoleConfigurationDialog()">
      Add Console
    </button>
    <button mat-stroked-button (click)="reloadConsoleConfigurations()">
      Refresh List
    </button>
  </div>
  <div class="content-wrapper">
    @if (consoleConfigurations().length == 0) {
      <p>No consoles found.</p>
      <p>Try using the Add Console button to create a new one.</p>
    } @else {
      <mat-card class="consoles-list-card" appearance="outlined">
        <mat-card-content>
          <p>Select a console from the list below:</p>
          <mat-selection-list
            [multiple]="false"
            (selectionChange)="onConsoleSelectionChange($event)"
            hideSingleSelectionIndicator
          >
            @for (config of sortedConsoleConfigurations(); track config) {
              <mat-list-option [value]="config">{{
                config.name
              }}</mat-list-option>
            }
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
