<mat-toolbar class="game-console-app-toolbar">
  <button
    mat-icon-button
    class="leading-button"
    aria-label="Toggle game list"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Asset Manager</span>
  <span class="toolbar-spacer"></span>
  @if (breakpoint.isHandset$ | async) {
    <button
      aria-label="Import Game Data"
      mat-icon-button
      (click)="onDownloadGameDataClick()"
    >
      <mat-icon fontSet="material-icons-round">download</mat-icon>
    </button>
    <button
      aria-label="Upload assets to console"
      class="trailing-button"
      mat-icon-button
      (click)="onUploadAssetsClick()"
    >
      <mat-icon fontSet="material-icons-round">upload</mat-icon>
    </button>
  } @else if (breakpoint.isTablet$ | async) {
    <button
      class="trailing-button"
      mat-flat-button
      (click)="onDownloadGameDataClick()"
    >
      <mat-icon aria-label="Download game data" fontSet="material-icons-round">
        download
      </mat-icon>
      Import Game Data
    </button>
    <button
      aria-label="Upload assets to console"
      class="trailing-button"
      mat-flat-button
      (click)="onUploadAssetsClick()"
    >
      <mat-icon fontSet="material-icons-round">upload</mat-icon>
      Upload Assets
    </button>
  } @else {
    <button
      class="trailing-button"
      mat-flat-button
      (click)="onDownloadGameDataClick()"
    >
      <mat-icon aria-label="Download game data" fontSet="material-icons-round">
        download
      </mat-icon>
      Import Game Data
    </button>
    <button
      aria-label="Upload assets to console"
      class="trailing-button"
      mat-flat-button
      (click)="onUploadAssetsClick()"
    >
      <mat-icon fontSet="material-icons-round">upload</mat-icon>
      Upload Assets
    </button>
  }
</mat-toolbar>
<mat-drawer-container
  class="navigation-drawer"
  [hasBackdrop]="!(breakpoint.isWeb$ | async)"
  [class.layout-web]="breakpoint.isWeb$ | async"
>
  <mat-drawer #drawer [mode]="(breakpoint.isWeb$ | async) ? 'side' : 'over'">
    @if (gameList.length == 0) {
      <p class="centered-text">Import game data for games to show up here</p>
    }
    <mat-selection-list
      aria-label="Game Selection"
      hideSingleSelectionIndicator
      [compareWith]="gameListCompareWith"
      [multiple]="false"
      (selectionChange)="onGameSelectionChange($event)"
    >
      @for (entry of gameList; track entry.id) {
        <mat-list-option
          [selected]="isSelectedGameId(entry.id)"
          [value]="entry"
        >
          <div matListItemTitle>{{ entry.titleName }}</div>
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <div
      class="content-wrapper responsive-width-container"
      [class.layout-handset]="breakpoint.isHandset$ | async"
      [class.layout-tablet]="breakpoint.isTablet$ | async"
      [class.layout-web]="breakpoint.isWeb$ | async"
    >
      <app-page-title-toolbar [heading]="titleText" />
      @if (gameData) {
        @for (assetType of assetTypes; track $index) {
          <app-edit-asset-card
            [assetType]="assetType"
            [gameConsoleConfiguration]="gameConsoleConfiguration()"
            [gameData]="gameData"
          />
        }
      } @else {
        <p class="description">No game data available.</p>
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>
