<mat-toolbar class="game-console-app-toolbar">
  <button
    mat-icon-button
    class="leading-button"
    aria-label="Toggle game list"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>System Information</span>
  <span class="toolbar-spacer"></span>
  @if (!isIntervalRunning) {
    @if (breakpoint.isHandset$ | async) {
      <button
        aria-label="Reconnect to console"
        class="trailing-button"
        mat-icon-button
        (click)="onReconnectClick()"
      >
        <mat-icon fontSet="material-icons-outlined">cloud_off</mat-icon>
      </button>
    } @else {
      <button
        aria-label="Reconnect to console"
        class="trailing-button"
        mat-flat-button
        (click)="onReconnectClick()"
      >
        <mat-icon fontSet="material-icons-outlined">cloud_off</mat-icon>
        Reconnect
      </button>
    }
  }
</mat-toolbar>
<mat-drawer-container
  class="navigation-drawer"
  [hasBackdrop]="!(breakpoint.isWeb$ | async)"
  [class.layout-web]="breakpoint.isWeb$ | async"
>
  <mat-drawer #drawer [mode]="(breakpoint.isWeb$ | async) ? 'side' : 'over'">
    <mat-selection-list
      aria-label="Details selection"
      hideSingleSelectionIndicator
      [multiple]="false"
      (selectionChange)="onDetailsViewSelectionChange($event)"
    >
      @for (item of viewListItems; track item.value) {
        <mat-list-option
          [selected]="selectedView == item.value"
          [value]="item.value"
        >
          {{ item.title }}
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    @switch (selectedView) {
      @case ("overview") {
        <app-overview-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration()"
        />
      }
      @case ("dashlaunch") {
        <app-dashlaunch-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration()"
        />
      }
      @case ("achievements") {
        <app-game-achievements-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration()"
        />
      }
      @case ("screenshots") {
        <app-game-screenshots-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration()"
        />
      }
      @case ("plugin") {
        <app-nova-plugin-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration()"
        />
      }
      @case ("profiles") {
        <app-profiles-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration()"
        />
      }
      @case ("threads") {
        <app-threads-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration()"
        />
      }
      @default {
        <div class="responsive-width-container">
          <app-page-title-toolbar heading="Unknown" />
          <p>Invalid view selection.</p>
        </div>
      }
    }
  </mat-drawer-content>
</mat-drawer-container>
