/* 200 */
/* SourceCodePro-ExtraLight.ttf */
/* SourceCodePro-ExtraLightItalic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* 300 */
/* SourceCodePro-Light.ttf */
/* SourceCodePro-LightItalic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* 400 */
/* SourceCodePro-Regular.ttf */
/* SourceCodePro-Italic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* 500 */
/* SourceCodePro-Medium.ttf */
/* SourceCodePro-MediumItalic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* 600 */
/* SourceCodePro-SemiBold.ttf */
/* SourceCodePro-SemiBoldItalic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* 700 */
/* SourceCodePro-Bold.ttf */
/* SourceCodePro-BoldItalic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* 800 */
/* SourceCodePro-ExtraBold.ttf */
/* SourceCodePro-ExtraBoldItalic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* 900 */
/* SourceCodePro-Black.ttf */
/* SourceCodePro-BlackItalic.ttf */
@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("SourceCodePro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
