// .mem-data
//   margin-left: 16px
//   margin-right: 16px

// .mem
//   width: 100%
//   overflow: scroll

// .mem-row
//   display: block
//   overflow: scroll

.table-wrapper
  overflow-x: scroll
  width: 100%

.mat-mdc-cell, .mat-mdc-header-cell
  border: none

.mat-mdc-row
  height: 24px
  // line-height: 8px

.mat-column-memory-address
  text-align: right
  text-wrap: nowrap

.mat-column-memory-hex
  text-wrap: nowrap
  text-align: center
  border-right: 1px solid currentColor
  border-left: 1px solid currentColor

.mat-column-memory-ascii
  text-align: left
  text-wrap: nowrap



