// material 2014 - Green 50 - 500 - https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
$green-50-500: #4CAF50

.mdc-list-item--with-leading-icon .mdc-list-item__start.executable
  color: $green-50-500

.error-card
  background-color: var(--mat-sys-error)
  color: var(--mat-sys-on-error)
  margin-top: 16px
  p
    margin-top: 0px

.button-row button
  margin-left: 4px
  margin-right: 4px
