<div
  class="responsive-width-container"
  [class.layout-handset]="breakpoint.isHandset$ | async"
  [class.layout-tablet]="breakpoint.isTablet$ | async"
  [class.layout-web]="breakpoint.isWeb$ | async"
>
  <app-page-title-toolbar heading="Achievements" />
  <p class="description">View achievements for the currently running title.</p>
  <span class="settings">
    <mat-slide-toggle
      [checked]="displayHiddenAchievements"
      (change)="onDisplayHiddenAchievementsChange($event)"
    />
    Display Hidden Achievements
  </span>
  @if (achievements().length == 0) {
    <p>No achievements available.</p>
  }
  @for (achievement of achievements(); track $index) {
    <app-achievement-card
      [achievement]="achievement"
      [displayHidden]="displayHiddenAchievements"
      [iconImageUrl]="imageUrl($index)"
    />
  }
</div>
