app-achievement-card
  display: block

.description
  margin-top: 0px

.settings
  display: block
  margin-bottom: 16px
  margin-top: 16px

.responsive-width-container.layout-handset
  app-achievement-card:not(:first-of-type)
    margin-top: 8px
  margin-bottom: 16px

.responsive-width-container.layout-tablet
  app-achievement-card:not(:first-of-type)
    margin-top: 12px
  margin-bottom: 32px

.responsive-width-container.layout-web
  app-achievement-card:not(:first-of-type)
    margin-top: 16px
  margin-bottom: 32px
