// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './variables';
@import 'material-icons/iconfont/material-icons.css';

:root {
  touch-action: pan-x pan-y;
  @include mat.expansion-overrides((
    container-background-color: var(--mat-sys-surface-container),
    container-text-color:  var(--mat-sys-on-surface),
  ));
}

app-navigation-list {
  @include mat.list-overrides((
    list-item-container-color: var(--mat-sys-surface-container-high),
    list-item-label-text-color: var(--mat-sys-on-surface),
    list-item-one-line-container-height: variables.$nav-list-card-height,
  ));
}

app-page-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-on-primary-container),
    mobile-height: variables.$page-toolbar-height,
    standard-height: variables.$page-toolbar-height,
  ));
  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-on-primary-container),
  ));
}

app-page-title-toolbar {
  @include mat.toolbar-overrides((
    mobile-height: variables.$page-title-toolbar-height,
    standard-height: variables.$page-title-toolbar-height,
  ));
}

app-game-details-section {
  mat-toolbar {
    @include mat.toolbar-overrides((
      mobile-height: variables.$game-details-section-toolbar-height,
      standard-height: variables.$game-details-section-toolbar-height,
    ));
    border-radius: variables.$game-details-section-toolbar-border-radius;
  }
}

app-game-details-card {
  @include mat.expansion-overrides((
    container-background-color: var(--mat-sys-surface-container-low),
    container-text-color:  var(--mat-sys-on-surface),
  ));
}

.app-game-console-app-toolbar {
  @include mat.toolbar-overrides((
    mobile-height: variables.$game-console-app-toolbar-height,
    standard-height: variables.$game-console-app-toolbar-height,
  ));
}

.app-navigation-drawer {
  @include mat.list-overrides((
    active-indicator-shape: 20px,
    list-item-container-shape: 80px,
    list-item-selected-container-color: var(--mat-sys-secondary-container),
  ));
  .mdc-list-item--selected {
    @include mat.list-overrides((
      list-item-label-text-color: var(--mat-sys-on-secondary-container),
    ));
  }
}

.app-navigation-drawer.layout-web {
  @include mat.sidenav-overrides((
    container-divider-color: var(--mat-sys-outline-variant),
    container-shape: 0px,
  ));
}

html {
  // available palettes:
  //   red, green, blue, yellow, cyan, magenta
  //   rose, violet, azure, spring-green, chartreuse, orange
  color-scheme: dark;
  // color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body.color-scheme-light {
  color-scheme: light;
}

.app-leading-button {
  margin-right: 4px;
}

.app-trailing-button {
  margin-left: 4px;
}
