mat-chip-set
  margin-bottom: 16px

app-responsive-width-container
  display: block
  margin-bottom: 32px

.mat-mdc-outlined-button
  background-color: var(--mat-sys-surface)

.table-wrapper
  overflow-x: scroll
  width: 100%
