@if (uiService.isHandset$ | async) {
  <app-page-toolbar [heading]="pageToolbarHeading">
    <button
      aria-label="More actions menu"
      class="trailing-button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button
        mat-menu-item
        (click)="onEditConsoleClick()"
        [disabled]="isEditConsoleDisabled"
      >
        <mat-icon
          aria-label="Edit console configuration"
          fontSet="material-icons-outlined"
        >
          edit
        </mat-icon>
        <span>Edit console</span>
      </button>
      <button
        mat-menu-item
        (click)="onDeleteConsoleClick()"
        [disabled]="isDeleteConsoleDisabled"
      >
        <mat-icon
          aria-label="Delete console configuration"
          fontSet="material-icons-outlined"
        >
          delete_forever
        </mat-icon>
        <span>Delete console</span>
      </button>
    </mat-menu>
  </app-page-toolbar>
} @else if (uiService.isTablet$ | async) {
  <app-page-toolbar [heading]="pageToolbarHeading">
    <button
      aria-label="More actions menu"
      class="trailing-button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button
        mat-menu-item
        (click)="onEditConsoleClick()"
        [disabled]="isEditConsoleDisabled"
      >
        <mat-icon
          aria-label="Edit console configuration"
          fontSet="material-icons-outlined"
        >
          edit
        </mat-icon>
        <span>Edit console</span>
      </button>
      <button
        mat-menu-item
        (click)="onDeleteConsoleClick()"
        [disabled]="isDeleteConsoleDisabled"
      >
        <mat-icon
          aria-label="Delete console configuration"
          fontSet="material-icons-outlined"
        >
          delete_forever
        </mat-icon>
        <span>Delete console</span>
      </button>
    </mat-menu>
  </app-page-toolbar>
} @else {
  <app-page-toolbar [heading]="pageToolbarHeading">
    <button
      class="trailing-button"
      mat-stroked-button
      (click)="onEditConsoleClick()"
      [disabled]="isEditConsoleDisabled"
    >
      <mat-icon
        aria-label="Edit console configuration"
        fontSet="material-icons-outlined"
      >
        edit
      </mat-icon>
      <span>Edit</span>
    </button>
    <button
      class="trailing-button"
      mat-stroked-button
      (click)="onDeleteConsoleClick()"
      [disabled]="isDeleteConsoleDisabled"
    >
      <mat-icon
        aria-label="Delete console configuration"
        fontSet="material-icons-outlined"
      >
        delete_forever
      </mat-icon>
      <span>Delete</span>
    </button>
  </app-page-toolbar>
}
<mat-tab-group
  headerPosition="below"
  [headerPosition]="(uiService.isHandset$ | async) ? 'below' : 'above'"
  [mat-stretch-tabs]="uiService.isHandset$ | async"
  mat-align-tabs="start"
>
  <mat-tab #gamesTab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" fontSet="material-icons-round">
        sports_esports
      </mat-icon>
      Games
    </ng-template>
    <!-- <ng-template matTabContent> -->
    <div class="tab-content-wrapper">
      @if (gameConsoleConfiguration) {
        <app-game-library
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
    </div>
    <!-- </ng-template> -->
  </mat-tab>
  <mat-tab #systemTab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" fontSet="material-icons-round">
        laptop_windows
      </mat-icon>
      System
    </ng-template>
    <ng-template matTabContent>
      <div class="tab-content-wrapper">
        @if (gameConsoleConfiguration) {
          <app-system-details
            [gameConsoleConfiguration]="gameConsoleConfiguration"
          />
        }
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
