<!-- Toolbar -->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Toggle sidenav"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="brand">Australis</span>
</mat-toolbar>
<!-- Sidenav and Main Content -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" role="navigation">
    <p>Sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <p>Main Content</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
