<!-- Toolbar -->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Toggle sidenav"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="brand">Australis</span>
</mat-toolbar>
<!-- Sidenav and Main Content -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" role="navigation">
    <mat-nav-list>
      <div *ngFor="let sidenavRouteGroup of sidenavRouteGroups; let i = index">
        <mat-divider *ngIf="i > 0"></mat-divider>
        <div mat-subheader *ngIf="sidenavRouteGroup.name">
          {{ sidenavRouteGroup.name }}
        </div>
        <a
          mat-list-item
          *ngFor="let route of sidenavRouteGroup.routes"
          [routerLink]="route.path"
          [routerLinkActive]="['active-link']"
        >
          <mat-icon matListItemIcon *ngIf="route.icon">{{
            route.icon
          }}</mat-icon>
          <div matListItemTitle>
            {{ route.title }}
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
