<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <h2 class="sidenav-headline">Menu</h2>
    <mat-nav-list aria-label="Main">
      @for (link of sidenavLinks; track link) {
        <a
          class="sidenav-label-text"
          mat-list-item
          [activated]="link.isActivated"
          [routerLink]="link.href"
          routerLinkActive="active-link"
          (isActiveChange)="link.isActivated = $event"
        >
          @if (link.icon) {
            <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          }
          <div matListItemTitle>{{ link.label }}</div></a
        >
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        class="toggle-menu-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon" fontIcon="menu"></mat-icon>
      </button>
      <span class="toolbar-headline">Australis</span>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
