<mat-card
  appearance="outlined"
  [class.handset]="breakpoint.isHandset$ | async"
  [class.tablet]="breakpoint.isTablet$ | async"
  [class.web]="breakpoint.isWeb$ | async"
>
  <div class="boxart-scene-wrapper">
    <app-game-boxart-scene
      #boxartScene
      [autoRotate]="isBoxartAutoRotate"
      [interactive]="isBoxartInteractive"
      [textureUrl]="assetBoxartUrl"
    />
    <button
      matIconButton
      [matMenuTriggerFor]="boxartSettingsMenu"
      aria-label="Example icon-button with a menu"
      class="toggle-boxart-rotation"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu
      #boxartSettingsMenu="matMenu"
      xPosition="before"
      yPosition="above"
    >
      <button mat-menu-item (click)="onBoxartSettingsAutoRotateClick($event)">
        <mat-checkbox [checked]="isBoxartAutoRotate">Auto-Rotate</mat-checkbox>
      </button>
      <button mat-menu-item (click)="onBoxartSettingsInteractiveClick($event)">
        <mat-checkbox [checked]="isBoxartInteractive">
          Interactive
        </mat-checkbox>
      </button>
      <button mat-menu-item (click)="boxartScene.reset()">
        <mat-icon>refresh</mat-icon>
        <span>Reset</span>
      </button>
    </mat-menu>
  </div>
  <mat-divider class="divider-variant"></mat-divider>
  <mat-card-content>
    <mat-accordion>
      <!-- Description Panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Description</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="description">{{ descriptionText }}</p>
      </mat-expansion-panel>
      <!-- Details Panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Details</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Title ID</span>
              <span>{{ titleIdText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Media ID</span>
              <span>{{ mediaIdText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Released</span>
              <span>{{ releaseDateText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Developer</span>
              <span>{{ developerText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Publisher</span>
              <span>{{ publisherText }}</span>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!-- Screenshots Panel -->
      <mat-expansion-panel (opened)="onScreenshotsAccordianOpened()">
        <mat-expansion-panel-header>
          <mat-panel-title>Screenshots</mat-panel-title>
        </mat-expansion-panel-header>
        @if (!hasScreenshots) {
          <p>No screenshots available.</p>
        }
        <div class="screenshots-wrapper">
          @for (url of assetScreenshotUrls; track $index) {
            @if (url) {
              <img
                class="screenshot"
                [alt]="'Screenshot ' + ($index + 1) + ' image'"
                [src]="url"
              />
            }
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
