mat-icon
  margin-bottom: 3px
  vertical-align: bottom

.error-card
  button
    color: var(--mat-sys-on-error)
  background-color: var(--mat-sys-error)
  color: var(--mat-sys-on-error)

.warning-card
  button
    color: var(--mat-sys-on-tertiary-container)
  background-color: var(--mat-sys-tertiary-container)
  color: var(--mat-sys-on-tertiary-container)

.header-row
  .trailing-button
    margin-top: -8px
  display: flex
  justify-content: space-between
