<mat-card appearance="outlined">
  <mat-card-content>
    <div class="button-row">
      <button
        mat-flat-button
        (click)="onTakeScreenshotClick()"
        [disabled]="isTakeScreenshotDisabled"
      >
        <mat-icon aria-label="Take screenshot" fontSet="material-icons-round">
          photo_camera
        </mat-icon>
        Take Screenshot
      </button>
      <button
        aria-label="Delete screencapture"
        type="button"
        mat-icon-button
        (click)="onDeleteClick()"
        [disabled]="isDeleteSelectedScreencaptureDisabled"
        matTooltip="Delete screenshot"
      >
        <mat-icon aria-label="Delete asset" fontSet="material-icons-round">
          delete_forever
        </mat-icon>
      </button>
    </div>
    <div
      class="screencapture"
      [style.background-image]="screencaptureBackgroundImageStyle"
    >
      @if (!selectedScreencaptureImageUrl) {
        @if (isScreencaptureLoading) {
          <mat-spinner class="centered" />
        } @else {
          <p class="centered">No screenshot selected</p>
        }
      }
    </div>
    @if (screencaptureMetas.length == 0) {
      <p>No screenshots available.</p>
    }
    <mat-selection-list
      class="screencaptures-list"
      hideSingleSelectionIndicator
      name="screencaptures"
      [multiple]="false"
      (selectionChange)="onScreencaptureSelectionChange($event)"
    >
      @for (
        screencaptureMeta of screencaptureMetasPage;
        track screencaptureMeta.filename
      ) {
        <!-- selected attribute not working correctly with pagination. manually setting selected class as workaround -->
        <mat-list-option
          [class.mdc-list-item--selected]="
            isSelectedScreencaptureOption(screencaptureMeta)
          "
          [selected]="isSelectedScreencaptureOption(screencaptureMeta)"
          [value]="screencaptureMeta"
        >
          <span matListItemTitle>
            {{ screencaptureMeta.filename }}
          </span>
          <span matListItemLine>
            {{ timestampText(screencaptureMeta.timestamp) }}
          </span>
        </mat-list-option>
      }
    </mat-selection-list>
    <mat-paginator
      aria-label="Select page"
      [length]="screencaptureMetas.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
    />
  </mat-card-content>
</mat-card>
