mat-card-header
  margin-bottom: 16px

.key-value-columns
  display: flex
  justify-content: space-between

.path-property
  overflow: scroll
  text-overflow: clip
  white-space: nowrap
  width: 100%

.responsive-width-container.layout-handset
  mat-chip-set
    margin-bottom: 16px
  margin-bottom: 16px

.responsive-width-container.layout-tablet
  mat-chip-set
    margin-bottom: 24px
  margin-bottom: 32px

.responsive-width-container.layout-web
  mat-chip-set
    margin-bottom: 24px
  margin-bottom: 32px
