mat-card:not(:first-of-type)
  margin-top: 8px

mat-chip-set
  margin-bottom: 16px

app-responsive-width-container
  display: block
  margin-bottom: 32px

.feature-property
  display: flex
  justify-content: space-between

.path-property
  overflow: scroll
  text-overflow: clip
  white-space: nowrap
  width: 100%
