<app-responsive-width-container
  [class.layout-handset]="breakpoint.isHandset$ | async"
  [class.layout-tablet]="breakpoint.isTablet$ | async"
  [class.layout-web]="breakpoint.isWeb$ | async"
>
  <app-page-title-toolbar heading="Nova Plugin" />
  <mat-chip-set aria-label="Dashlaunch attributes">
    <mat-chip>Version: {{ pluginVersionText }}</mat-chip>
    <mat-chip>API: {{ apiVersionText }}</mat-chip>
  </mat-chip-set>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Paths</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        @for (path of pluginPathText; track path.key) {
          <mat-list-item role="listitem">
            <span matListItemTitle>{{ path.key }}</span>
            <span class="path-property" matListItemLine>
              <code>{{ path.value }}</code>
            </span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Features</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        @for (feature of pluginFeaturesText; track feature.key) {
          <mat-list-item role="listitem">
            <span class="feature-property">
              <span>{{ feature.key }}</span>
              <span>{{ feature.value }}</span>
            </span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</app-responsive-width-container>
