<h2 mat-dialog-title>{{ titleText }}</h2>
<mat-dialog-content>
  <form [formGroup]="gameConsoleConfigurationForm">
    <p>Console Information</p>
    <div class="field-group">
      <mat-form-field>
        <mat-label>Console Name</mat-label>
        <input matInput formControlName="name" type="text" cdkFocusInitial />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Console IP</mat-label>
        <input matInput formControlName="ipAddress" type="text" />
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <p>Aurora FTP Connection</p>
    <div class="field-group">
      <mat-form-field appearance="fill">
        <mat-label>Aurora FTP Username</mat-label>
        <input matInput formControlName="auroraFtpUsername" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Aurora FTP Password</mat-label>
        <input
          matInput
          formControlName="auroraFtpPassword"
          [type]="isAuroraFtpPasswordVisible ? 'text' : 'password'"
        />
        <button
          matSuffix
          mat-icon-button
          (click)="isAuroraFtpPasswordVisible = !isAuroraFtpPasswordVisible"
          type="button"
        >
          <mat-icon>{{
            isAuroraFtpPasswordVisible ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="field-group">
      <mat-form-field appearance="fill">
        <mat-label>Aurora FTP Port</mat-label>
        <input matInput formControlName="auroraFtpPort" type="number" />
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <p>Aurora HTTP Connection</p>
    <div class="field-group">
      <mat-form-field appearance="fill">
        <mat-label>Aurora HTTP Username</mat-label>
        <input matInput formControlName="auroraHttpUsername" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Aurora HTTP Password</mat-label>
        <input
          matInput
          formControlName="auroraHttpPassword"
          [type]="isAuroraHttpPasswordVisible ? 'text' : 'password'"
        />
        <button
          matSuffix
          mat-icon-button
          (click)="isAuroraHttpPasswordVisible = !isAuroraHttpPasswordVisible"
          type="button"
        >
          <mat-icon>{{
            isAuroraHttpPasswordVisible ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="field-group">
      <mat-form-field appearance="fill">
        <mat-label>Aurora HTTP Port</mat-label>
        <input matInput formControlName="auroraHttpPort" type="number" />
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button type="submit" (click)="onSubmitClick()">Submit</button>
</mat-dialog-actions>
