<mat-card appearance="outlined">
  <mat-card-content>
    <mat-card class="banner-card" appearance="raised">
      <img alt="Banner image" [src]="assetBannerUrl" />
    </mat-card>
    <mat-accordion>
      <!-- Description Panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Description</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="description">{{ descriptionText }}</p>
      </mat-expansion-panel>
      <!-- Details Panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Details</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Title ID</span>
              <span>{{ titleIdText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Media ID</span>
              <span>{{ mediaIdText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Released</span>
              <span>{{ releaseDateText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Developer</span>
              <span>{{ developerText }}</span>
            </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="key-value-columns">
              <span>Publisher</span>
              <span>{{ publisherText }}</span>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!-- Screenshots Panel -->
      <mat-expansion-panel (opened)="onScreenshotsAccordianOpened()">
        <mat-expansion-panel-header>
          <mat-panel-title>Screenshots</mat-panel-title>
        </mat-expansion-panel-header>
        @if (!hasScreenshots) {
          <p>No screenshots available.</p>
        }
        <div class="screenshots-wrapper">
          @for (url of assetScreenshotUrls; track $index) {
            @if (url) {
              <img
                class="screenshot"
                [alt]="'Screenshot ' + ($index + 1) + ' image'"
                [src]="url"
              />
            }
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
