mat-selection-list
  margin-bottom: 8px
  margin-left: 8px
  margin-right: 8px
  margin-top: 8px

mat-toolbar
  border-bottom: 1px solid var(--mat-sys-outline-variant)

.display-text
  display: block

.toolbar-spacer
  flex: 1 1 auto

.responsive-width-container.handset
  .display-text
    font: var(--mat-sys-display-medium)
    margin-top: 16px
    margin-bottom: 16px
  margin-bottom: 16px

.responsive-width-container.tablet
  .display-text
    font: var(--mat-sys-display-medium)
    margin-top: 24px
    margin-bottom: 24px
  margin-bottom: 32px

.responsive-width-container.web
  .display-text
    font: var(--mat-sys-display-medium)
    margin-top: 24px
    margin-bottom: 24px
  margin-bottom: 32px

