<mat-toolbar>
  <button
    mat-icon-button
    class="leading-button"
    aria-label="Toggle game list"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>System Details</span>
  <span class="toolbar-spacer"></span>
  @if (!isIntervalRunning) {
    @if (uiService.isHandset$ | async) {
      <button
        aria-label="Reconnect to console"
        class="trailing-button"
        mat-icon-button
        (click)="reconnect()"
      >
        <mat-icon fontSet="material-icons-outlined">cloud_off</mat-icon>
      </button>
    } @else if (uiService.isTablet$ | async) {
      <button
        aria-label="Reconnect to console"
        class="trailing-button"
        mat-flat-button
        (click)="reconnect()"
      >
        <mat-icon fontSet="material-icons-outlined">cloud_off</mat-icon>
        Reconnect
      </button>
    } @else {
      <button
        aria-label="Reconnect to console"
        class="trailing-button"
        mat-flat-button
        (click)="reconnect()"
      >
        <mat-icon fontSet="material-icons-outlined">cloud_off</mat-icon>
        Reconnect
      </button>
    }
  }
</mat-toolbar>
<mat-drawer-container
  [hasBackdrop]="!(uiService.isWeb$ | async)"
  [class.web]="uiService.isWeb$ | async"
>
  <mat-drawer
    #drawer
    [mode]="(uiService.isWeb$ | async) ? 'side' : 'over'"
    [opened]="uiService.isWeb$ | async"
  >
    <mat-selection-list
      #detailsSelection
      aria-label="Details selection"
      hideSingleSelectionIndicator
      [multiple]="false"
      (selectionChange)="onDetailsSelectionChange($event)"
    >
      @for (item of viewListItems; track item.value) {
        <mat-list-option
          [selected]="selectedView == item.value"
          [value]="item.value"
        >
          {{ item.title }}
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    @switch (selectedView) {
      @case ("achievements") {
        <app-achievements-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
      @case ("dashboard") {
        <app-dashboard-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
      @case ("dashlaunch") {
        <app-dashlaunch-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
      @case ("plugin") {
        <app-plugin-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
      @case ("profiles") {
        <app-profiles-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
      @case ("screenshots") {
        <app-screenshots-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
      @case ("threads") {
        <app-threads-view
          #detailsView
          [gameConsoleConfiguration]="gameConsoleConfiguration"
        />
      }
      @default {
        <div
          class="responsive-width-container"
          [class.handset]="uiService.isHandset$ | async"
          [class.tablet]="uiService.isTablet$ | async"
          [class.web]="uiService.isWeb$ | async"
        >
          <span class="display-text">Unknown</span>
          <p>Unknown view selection.</p>
        </div>
      }
    }
  </mat-drawer-content>
</mat-drawer-container>
