form
  margin-bottom: 16px
  width: 100%

pre
  overflow-x: scroll

// mat-accordian
//   margin-top: 16px
//   padding-top: 16px

// .response-status
//   margin-bottom: 16px
//   padding-bottom: 16px

mat-form-field
  width: 100%

.error-card
  background-color: var(--mat-sys-error)

.error-text
  color: var(--mat-sys-on-error)
  margin: 0px

.field-group
  width: 100%

.responsive-width-container
  margin-bottom: 32px

// .response
//   margin-top: 16px
