<app-responsive-width-container>
  <app-page-title-toolbar heading="Run Command" />
  <app-notification-card warning-card [dismissable]="false">
    <p>
      Use caution when running commands. Improper use can lead to data loss or
      damage to the system.
    </p>
    <p>Proceed at your own risk.</p>
  </app-notification-card>
  <app-notification-card [dismissable]="false">
    <p>
      The connection is closed after each command is executed. Commands that
      require running multiple commands in the same connection are not supported
      at this time.
    </p>
  </app-notification-card>
  <form [formGroup]="commandForm">
    <mat-form-field>
      <mat-label>Command</mat-label>
      <input matInput formControlName="cmd" type="text" cdkFocusInitial />
    </mat-form-field>
    <button mat-button type="submit" (click)="onSubmitClick()">Submit</button>
  </form>
  @if (errorText) {
    <app-notification-card
      error-card
      [message]="errorText"
      (dismissed)="onErrorDismissed()"
    />
  }
  @if (telnetResponse) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Response</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ errorText }}
          {{ telnetResponse.status.code }} - {{ telnetResponse.status.text }}
        </p>
        @if (telnetResponse.data.length > 0) {
          <mat-card appearance="raised">
            <mat-card-header>
              <mat-card-title>Data</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <pre>{{ telnetResponseDataString }}</pre>
            </mat-card-content>
          </mat-card>
        }
      </mat-card-content>
    </mat-card>
  }
</app-responsive-width-container>
