form
  margin-bottom: 16px
  width: 100%

pre
  overflow-x: scroll

// mat-accordian
//   margin-top: 16px
//   padding-top: 16px

// .response-status
//   margin-bottom: 16px
//   padding-bottom: 16px

mat-form-field
  width: 100%

app-responsive-width-container
  display: block
  margin-bottom: 32px


.button-group
  button
    margin-top: 8px
    width: 180px
  margin: 0px auto
  margin-top: 8px
  width: fit-content
  // display: flex
  // justify-content: center
  // margin-bottom: 16px


.error-card
  background-color: var(--mat-sys-error)

.error-text
  color: var(--mat-sys-on-error)
  margin: 0px

.field-group
  width: 100%

.responsive-width-container
  margin-bottom: 32px

// .response
//   margin-top: 16px

.warning-card
  p
    margin-top: 8px
  background-color: var(--mat-sys-tertiary-container)
  margin-bottom: 16px
  text: var(--mat-sys-on-tertiary-container)
