form
  margin-bottom: 16px
  width: 100%

pre
  overflow-x: scroll

mat-form-field
  width: 100%

app-notification-card
  display: block
  margin-bottom: 16px

app-responsive-width-container
  display: block
  margin-bottom: 32px
