<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ titleText }}</mat-card-title>
      <mat-card-subtitle>Covers: {{ coverCountText }}</mat-card-subtitle>
      @if (iconUrl) {
        <img mat-card-sm-image [src]="iconUrl" />
      }
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    @for (cover of coverInfoResult?.Covers; track cover.CoverID) {
      <app-cover-card
        [coverInfoItem]="cover"
        (selected)="onCoverSelected(cover)"
      />
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="onViewCoversClick()">View Covers</button>
  </mat-card-actions>
</mat-card>
