@if (uiService.isHandset$ | async) {
  <app-page-toolbar heading="Edit Assets">
    <button
      aria-label="Upload assets to console"
      class="trailing-button"
      mat-icon-button
      (click)="onUploadAssetsClick()"
    >
      <mat-icon fontSet="material-icons-round">upload</mat-icon>
    </button>
  </app-page-toolbar>
} @else if (uiService.isTablet$ | async) {
  <app-page-toolbar heading="Edit Assets">
    <button
      aria-label="Upload assets to console"
      class="trailing-button"
      mat-flat-button
      (click)="onUploadAssetsClick()"
    >
      <mat-icon fontSet="material-icons-round">upload</mat-icon>
      Upload Assets
    </button>
  </app-page-toolbar>
} @else {
  <app-page-toolbar heading="Edit Assets">
    <button
      aria-label="Upload assets to console"
      class="trailing-button"
      mat-flat-button
      (click)="onUploadAssetsClick()"
    >
      <mat-icon fontSet="material-icons-round">upload</mat-icon>
      Upload Assets
    </button>
  </app-page-toolbar>
}
<div
  class="content-wrapper responsive-width-container"
  [class.handset]="uiService.isHandset$ | async"
  [class.tablet]="uiService.isTablet$ | async"
  [class.web]="uiService.isWeb$ | async"
>
  @if (gameData) {
    <span class="description">
      Edit assets for {{ gameData.titleName }} on console
      {{ gameConsoleConfiguration?.name ?? "Unknown" }}.
    </span>
    @for (assetType of assetTypes; track assetType) {
      @if (gameConsoleConfiguration && gameData) {
        <app-edit-asset-card
          [assetType]="assetType"
          [gameConsoleConfiguration]="gameConsoleConfiguration"
          [gameData]="gameData"
        />
      }
    }
  } @else {
    <p class="centered-text">No game data available.</p>
  }
</div>
