<h2 mat-dialog-title>Upload Assets</h2>
<mat-dialog-content>
  <mat-stepper orientation="vertical" [linear]="true">
    <mat-step>
      <ng-template matStepLabel>Launch Aurora</ng-template>
      <ng-template matStepContent>
        <div>
          <p>
            The Aurora dashboard must be running during the entire upload
            process.
          </p>
          <p>
            Click the Launch Aurora button to return to the Aurora dashboard.
          </p>
          <p>Once at the Aurora dashboard, click next to continue.</p>
          <button mat-flat-button (click)="onLaunchAuroraClick()">
            Launch Aurora
          </button>
        </div>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isUploadAssetsCompleted">
      <ng-template matStepLabel>Upload Assets</ng-template>
      <ng-template matStepContent>
        <div>
          <p>Click the Upload button to upload assets to the console.</p>
          <p>{{ uploadAssetsStatusText }}</p>
          <button
            mat-flat-button
            (click)="onUploadAssetsClick()"
            [disabled]="isUploadAssetsDisabled"
          >
            Upload
          </button>
        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!isUploadAssetsCompleted">
          Next
        </button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Restart Aurora</ng-template>
      <ng-template matStepContent>
        <div>
          <p>Aurora may need to be restarted for changes to take effect.</p>
          <p>
            Click the Restart Aurora button to return to the Aurora dashboard.
          </p>
          <p>Once at the Aurora dashboard, click next to continue.</p>
          <button mat-flat-button (click)="onLaunchAuroraClick()">
            Restart Aurora
          </button>
        </div>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ng-template matStepContent>
        <div>
          <p>Uploads complete. This dialog can be closed.</p>
          <button mat-flat-button (click)="onCloseClick()">Close</button>
        </div>
        <button mat-button matStepperPrevious>Back</button>
      </ng-template>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
