<mat-card appearance="raised">
  <mat-card-content>
    @if (isLoadingImage) {
      <mat-spinner></mat-spinner>
    } @else if (hasError) {
      <mat-card appearance="outlined" class="error-card">
        <mat-card-content>
          <p class="error-text">Error loading image.</p>
        </mat-card-content>
      </mat-card>
    } @else if (imageUrl) {
      <!-- TODO alt text -->
      <img class="cover-image" [src]="imageUrl" />
    } @else {
      <p class="center-text">No image available</p>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-button
      (click)="onSelectImageClick()"
      [disabled]="isSelectImageDisabled()"
    >
      Select Image
    </button>
  </mat-card-actions>
</mat-card>
