<div
  class="responsive-width-container"
  [class.handset]="uiService.isHandset$ | async"
  [class.tablet]="uiService.isTablet$ | async"
  [class.web]="uiService.isWeb$ | async"
>
  <span class="display-text">Profiles</span>
  <span class="settings">
    <mat-slide-toggle
      [checked]="displayXuids"
      (change)="onDisplayXuidsChange($event)"
    />
    Display XUIDs
  </span>
  @for (profile of profiles(); track $index) {
    <app-profile-card
      [profile]="profile"
      [displayXuid]="displayXuids"
      [profileImageUrl]="imageUrls()[$index]"
    />
  }
</div>
