<h2 mat-dialog-title>Import Game Data</h2>
<mat-dialog-content>
  <mat-stepper orientation="vertical" [linear]="true">
    <mat-step>
      <ng-template matStepLabel>Launch Aurora</ng-template>
      <ng-template matStepContent>
        <div>
          <p>
            The Aurora dashboard must be running during the entire download
            process.
          </p>
          <p>
            Click the Launch Aurora button to return to the Aurora dashboard.
          </p>
          <p>Once at the Aurora dashboard, click next to continue.</p>
          <button mat-flat-button (click)="onLaunchAuroraClick()">
            Launch Aurora
          </button>
        </div>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isDownloadDatabasesCompleted">
      <ng-template matStepLabel>Download Databases</ng-template>
      <ng-template matStepContent>
        <div>
          <p>
            Click the Download button to download databases from the console.
          </p>
          <p>{{ downloadDatabasesStatusText }}</p>
          <button
            mat-flat-button
            (click)="onDownloadDatabasesClick()"
            [disabled]="isDownloadDatabasesDisabled"
          >
            Download
          </button>
        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          [disabled]="!isDownloadDatabasesCompleted"
        >
          Next
        </button>
      </ng-template>
    </mat-step>
    <mat-step [completed]="isDownloadGameDataCompleted">
      <ng-template matStepLabel>Download Game Data</ng-template>
      <ng-template matStepContent>
        <div>
          <p>
            Click the Download button to download game data from the console.
          </p>
          <p>{{ downloadGameDataStatusText }}</p>
          <button
            mat-flat-button
            (click)="onDownloadGameDataClick()"
            [disabled]="isDownloadGameDataDisabled"
          >
            Download
          </button>
        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          [disabled]="!isDownloadGameDataCompleted"
        >
          Next
        </button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ng-template matStepContent>
        <div>
          <p>Downloads complete. This dialog can be closed.</p>
          <button mat-flat-button (click)="onCloseClick()">Close</button>
        </div>
        <button mat-button matStepperPrevious>Back</button>
      </ng-template>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
